<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/inicio">WikiRecetas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/recetas" routerLinkActive="active">Recetas</a></li>
        
        @if (authService.estaAutenticado()) {
          
          @if (authService.getUsuarioActual()?.rol === 'admin') {
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Panel admin</a>
              <ul class="dropdown-menu shadow border-0">
                <li><a class="dropdown-item" routerLink="/admin-recetas">Gestionar recetas</a></li>
                <li><a class="dropdown-item" routerLink="/admin-categorias">Gestionar categorías</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/admin-usuarios">Gestionar usuarios</a></li>
              </ul>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-recetas" routerLinkActive="active">Mis Recetas</a>
            </li>
          }

          <li class="nav-item"><button class="btn btn-outline-dark ms-3" (click)="cerrarSesion()">Salir</button></li>
        } @else {
          <li class="nav-item"><a class="btn btn-outline-dark ms-2" routerLink="/login">Iniciar sesión</a></li>
        }
      </ul>
    </div>
  </div>
</nav>